@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  margin: 50px;
  padding: 0,
}

.input-group {
  margin: 20px 120px;
  width: 80%;
}

.form-control {
  padding: 10px;
  font-size: 20px;
  width: 70%;
}

.btn {
  padding: 10px 20px;
  margin: 20px;
  font-size: 20px;
}

.table {
  margin: 50px;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr;
  grid-gap: 50px;
}

th, td {
  padding-right: 50px;
  width: 250px;
  vertical-align: middle !important;
  text-align: center !important;
}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}