@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: bottom right;
  // background-image: url("https://i.imgur.com/zPe5TBg.png");
}

h1, h2 {
  margin: 50px;
  padding: 0,
}

a {
  text-decoration: none;
  color: #333;
}

.input-group {
  margin: 50px;
}

.form-control, 
.btn {
  padding: 10px;
  font-size: 20px;
}

.table {
  margin: 50px;
  font-size: 20px;
}