@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: bottom right;
  // background-image: url("https://i.imgur.com/zPe5TBg.png");
}

h1, h2 {
  margin: 50px;
  padding: 0,
}

a {
  text-decoration: none;
  color: #333;
}

.input-group {
  margin: 50px;
}

.form-control {
  padding: 10px;
  font-size: 20px;
  width: 70%;
}

.btn {
  padding: 10px 20px;
  font-size: 20px;

}

.table {
  margin: 50px;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr;
  grid-gap: 50px;
  // border: 1px solid black;
}

th {
  padding: 0 50px;
}

// td, th {
//   vertical-align: middle !important;
//   text-align: center !important;
// }

// svg {
//   height: 150px;
// }

// td:first-of-type, td:first-of-type > div {
//   height: 200px;
//   width: 250px;
// }